/* element selector */
h1{
    font-size: small;
    text-align: center;
}

/* id selector */
#para1{
    background-color: blueviolet
}

/* class selector */
.parag{
    background-color: aquamarine;
}

/* group selector */

p#para2 {
    color: greenyellow;
}